@keyframes enterDown {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(0);
	}
}


@keyframes enterRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}


@keyframes slideInDown {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0);
	}
}


@keyframes slideInUp {
		from {
			transform: translateY(100%);
		}
		to {
			transform: translateY(0);
		}
}


@keyframes headerBgIn {
	from {
		margin-top: -10vh;
		background-position: center 10vh;
	}
	to {
		margin-top: 0;
		background-position: center center;
	}
}


@keyframes cardsShadowAppear {
	from {
		box-shadow: 0 0 0 0 rgba(0,0,0,.0);
	} to {
		box-shadow: 0 20px 60px -10px rgba(0,0,0,.4);
	}
}
