.calculator {
	overflow: hidden;
	margin-bottom: $h-step--m;


	& .ruler {
		// background-image: url(../img/ruler-cm.gif);
		// background-repeat: repeat-x;
		max-height: 481px;
		margin-bottom: 10vh;
		max-width: 1440px;
		box-sizing: border-box;
		margin: 0 auto;
		position: relative;
		background-image: url(../img/ruler__cm.jpg);
		background-repeat: repeat-x;
		background-size: contain;

		&__video {
			position: relative;
			margin: 0 auto;
			max-width: 900px;

			&::before, &::after {
				content: '';
				display: block;
				position: absolute;
				height: 100%;
				width: 150vw;
				background-image: url(../img/ruler__cm.jpg);
				background-repeat: repeat-x;
				background-size: contain;
				top: 0;
				z-index: -1;
			}

			&::before {
				right: 100%;
				background-position: center right;
			}

			&::after {
				left: 100%;
				background-position: center left;
			}
		}

		&__video video {
			display: inline-block;
			vertical-align: middle;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}

		&-info img, &-gif img {
			@include img-fluid();
		}

		&-info {
			display: none;
		}
	}

	// .plant {
	// 	display: none;
	// 	transition: right .4s ease;
	// }

	&__pieces {
		width: 100%;
		box-sizing: border-box;
		padding: 0 6.5vw;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		margin-bottom: $h-step * -1.5;
	}

	&__pieces-item {
		width: 100%;
		margin: 0 auto $h-step * 1.5;
		box-sizing: border-box;
	}

	&__pieces-item .frame {
		margin: 0 -2%;
	}

	&__pieces-item img {
		@include img-fluid();
		margin: 0 auto;
	}

	&__pieces-item figcaption {
		@include caption();
	}
}


@media ($min-md) {
	.calculator {
		.ruler {
			margin-bottom: $h-step--m;
		}

		.ruler.rulerAppear {
			// visibility: visible !important;
			animation: rulerAppear 1s .2s cubic-bezier(0.18, 0.89, 0.32, 1.28) 1 both;
			// animation-play-state: paused;
		}

		.ruler.rulerAppear.animated {
			// animation-play-state: running;
		}
	}
}


@media ($min-lg) {
	.calculator {
		margin-bottom: $h-step--l;


		.ruler {
			margin-bottom: $h-step--l;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			&__video {
				width: 65%;
				margin: 0;
			}


			&-info {
				display: block;
				flex: 1 2 30%;
				max-width: 30%;
				margin-left: 10px;
				margin-right: 4vw;
				animation-duration: 1s;
				animation-delay: 1.6s;
				animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
			}
		}

		// .plant {
		// 	display: block;
		// 	position: absolute;
		// 	width: 16vw;
		// 	height: auto;
		// 	max-width: 198px;
		// 	right: -6%;
		// 	bottom: -10%;
		//
		// 	& img {
		// 		@include img-fluid();
		// 	}
		// }

		&__pieces {
			align-items: flex-end;
			margin-left: auto;
			margin-right: auto;
		}


		// .plant {
		// 	width: 14vw;
		// 	right: -2%;
		// }


		&__pieces {
			padding: 0 2%;
		}

		&__pieces-item {
			width: 50%;
			flex: 1 1 40%;
			padding: 0 20px;

			&:nth-child(2) {
				align-self: flex-start;
			}

			&:nth-child(4) {
				margin-top: -12vh;
				position: relative;

				// &::after {
				// 	content: '';
				// 	display: block;
				// 	position: absolute;
				// 	width: 16vw;
				// 	height: 16vw;
				// 	background-image: url(../img/plant.png);
				// 	background-repeat: no-repeat;
				// 	background-size: contain;
				// 	max-width: 198px;
				// 	right: -5%;
				// 	bottom: 0;
				// }
			}
		}
	}
}

@media ($min-xl) {
	.calculator{
		// .ruler{
		// 	&__inner{
		// 		&::before, &::after{
		// 			background-size: auto;
		// 		}
		// 	}
		// }

		// .plant {
		// 	right: -1vw;
		// }
	}
}


@media (min-width: 1600px) {
	.calculator {
		// .plant {
		// 	right: 0;
		// }
	}
}
