.components {

	overflow: hidden;

	& .case { overflow: visible;}
	& .case:last-child {
		margin-bottom: $h-step--l;
	}
}

@media ($min-md) {
	.components {

		&-bg {
			position: absolute;
			width: 100vw;
			height: calc(100% - 20vh);
			margin: 10vh -0px;
			top: 0;
			bottom: 0;
			left: 50%;
			background-color: #2D3945;
			background-image: url(../img/admin-bg.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			z-index: -1;
			transform: translateX(-50%);

		}
	}
}

@media ($min-lg) {
	.components .case:last-child {
		margin-bottom: $h-step--l;
	}
}
