.credits {

	&-outer {
		background-image: url(../img/credits-bg.jpg);
		background-position: bottom left;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 20vh 0 10vh;
		transition: background-position .3s ease-out;
		text-align: center;
	}

	color: #fff;
	text-align: left;

	& ul {
		font-size: $fz-sm;
		list-style-type: none;
	}

	&__desk-list {
		// display: flex;
		// flex-flow: row wrap;
		// justify-content: flex-start;
		padding: 0;
		margin: 3em -15px 0;
		max-width: 600px;
	}

	&__desk {
		// flex: 1 1 calc(33.33333% - 15px);
		display: inline-block;
		vertical-align: top;
		min-width: 150px;
		width: calc(33.33333% - 15px);
		box-sizing: border-box;
		padding: 0 15px;
		margin-bottom: 1em;
	}

	&__employee-list {
		padding: 0;
		margin-top: .6em;
		margin-bottom: 1.8em;
	}

	&__employee {
		position: relative;
		padding-left: 0;
		margin-bottom: .2em;
		font-weight: bold;
	}

	&__role {
		margin-left: 0;
		margin-bottom: 1.6em;
		line-height: 1.2;
		min-height: 2.4em;
	}

	&-outer .btn-sitelink {
		margin-top: 2em;
	}

}






@media ($min-md) {
	.credits {


		&-outer {
			background-position: 45% 100%;
			text-align: left;
		}

		&__dep-list {
			max-width: 520px;
		}
	}
}

@media ($min-lg) {
	.credits {

		&-outer {
			background-position: bottom center;
		}
	}
}
