.intro {


	margin-bottom: $h-step--m;

	.design-page {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		box-sizing: border-box;
		box-shadow: 0 15px 80px -10px rgba(0, 0, 0, .3);
		margin-left: -6.5vw;
		margin-right: -6.5vw;

		&__img img {
			display: block;
			width: calc(100% + 1px);
			height: auto;
			overflow: hidden;
			// margin: 0 auto;
		}
	}


	@media ($min-md) {
		.design-page {
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			// &__img:nth-child(1) {	animation: slideInUp 1s .2s ease-out  1 both;}
			// &__img:nth-child(2) {	animation: slideInUp 1s .5s ease-out  1 both;}
			// &__img:nth-child(3) {	animation: slideInUp 1s .8s ease-out  1 both;}

		}
	}


	@media ($min-lg) {
		margin-bottom: $h-step--l;
	}

	@media (min-width: 1200px) {
		.container-cases::before {
			content: '';
			position: absolute;
			left: 50%;
			top: -7px;
			margin-left: -440px;
			width: 5vw;
			height: 5vw;
			max-width: 56px;
			background-image: url(../img/fixremont_logo.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center top;
		}
	}

}
