body.loaded .page-header {
	animation: headerBgIn .6s ease-out 1 none;

	& .main-title { animation: slideInDown .8s ease-out 1 both;}
	& .frame > span {
		animation: enterDown .8s ease-out 1 both;

		&:nth-child(1) {animation-delay: .2s;}
		&:nth-child(2) {animation-delay: .3s;}
	}
}

@media ($min-md) {
	.loaded > .page-header {

		& .cards__item { animation: cardsShadowAppear .6s .8s ease-out 1 both;}

		& .cards__item img { animation: enterRight .6s ease-out 1 both;}

		& .cards__item:nth-child(1) img {	animation-delay: 300ms;}
		& .cards__item:nth-child(2) img {	animation-delay: 350ms;}
		& .cards__item:nth-child(3) img {	animation-delay: 425ms;}
	}
}
