.page-header {
	background-image: url(../img/cover--sm.jpg);
	animation: headerBgIn .6s ease-out 1 none;
	position: relative;

	& .promo.cards {
		display: none;
	}

	& .main-title {
		margin-top: 24vh;
		animation: slideInDown .8s ease-out 1 both;
		margin-bottom: 8vh;
	}

	& .frame > span {
		position: relative;
		display: block;
		animation: enterDown .8s ease-out 1 both;

		&:nth-child(1) {animation-delay: .2s;}
		&:nth-child(2) {animation-delay: .3s;}
	}

}


@media ($min-md) {
	.page-header {
		min-height: 85vh;

		& .container { position: static;}

		& .main-title {
			margin-top: 20vh;
		}

		& .promo.cards {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: nowrap;
			width: 200%;
			position: absolute;
			bottom: -60px;
		}

		& .cards__item {
			border-radius: 5px;
			margin-right: 3vw;
			overflow: hidden;
			box-shadow: 0 20px 60px -10px rgba(0,0,0,.4);
			position: relative;

			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 40px;
				bottom: 60px;
				background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,0.1) 100%);
			}
		}

		& .cards__item img { @include img-fluid();}

	}

}
