.responsive {
	overflow: hidden;

	&__screens {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		margin: 0 -1vw;
		transition: left .2s ease-out;
	}

	&__screens-item {
		max-width: 33%;
		flex: 1 1 33%;
		box-sizing: border-box;
		padding: 0 1vw;
		margin-bottom: 2vw;
		max-height: 653px;
		transition: margin-right .1s ease-out;

		&:nth-child(4) {
			max-width: 50%;
			flex: 1 1 50%;
			max-height: 774px;
		}

		& img {
			@include img-fluid();
		}
	}

}


@media ($min-md) {
	.responsive {

		&__screens {
			flex-flow: row nowrap;
			width: 300vw;
			position: relative;
		}

		&__screens-item {
			max-width: none;
			flex: initial;

			&:nth-child(4) {
				max-width: none;
				flex: initial;
			}
		}
	}
}
