html {
  font-family: $font;
  font-size: 16px;
	line-height: 1.5;
	min-width: 375px;
	-webkit-font-smoothing: antialiased;
}


.frame {
	overflow: hidden;
	display: block;
}



@media ($min-md) {
	html {
		font-size: 24px;
	}
}
