.main-title {
	font-size: $fz-h1;
	font-weight: 900;
	// text-transform: uppercase;
	line-height: 1.4;
	color: #fff;
	// letter-spacing: .04em;
	margin: 1em 0 .5em;
	max-width: 500px;

	& .main-title__desc {
		display: block;
		font-size: $fz-intro;
		text-transform: none;
		line-height: $lh-h1;
		font-weight: 400;
		letter-spacing: normal;
	}

}


.title {
	@include heading($fz-h2);
	@include type-width();
}

.title-sm {
	font-size: $fz-h3;
	@include heading($fz-h3);
}

.flow {
	font-size: $fz;
	margin: 1em auto 12vh;
	@include type-width();
}



@media ($min-md) {
	.main-title {

		& .main-title__desc {
			font-size: 24px;
		}
	}
}
