.main-title {
	font-size: $fz-h1;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1.4;
	color: #fff;
	letter-spacing: .04em;
	margin: 1em 0 .5em;
	max-width: 500px;

	& .main-title__desc {
		display: block;
		font-size: $fz-intro;
		text-transform: none;
		line-height: $lh;
		font-weight: 400;
		letter-spacing: normal;
	}

}


.title {
	font-size: $fz-h2;
	line-height: 1.4;
	margin: 1em 0 .6em;
}



@media ($min-md) {
	.main-title {

		& .main-title__desc {
			font-size: 24px;
		}
	}
}
