doctype html
html(lang="ru")

	include components/head.pug
	-var title = "Разработка сайта для FIX Ремонт"
	-var description = "Разработка сайта и калькулятора для FIX Ремонт. Главная, дизайн-проекты, калькулятор, компонентный подход и система администрирования, адаптивная версия."
	-var url = "http://m18.ru/works/fixremont/"
	-var og_image = "http://m18.ru/works/fixremont/og/fixremont.jpg"
	
	+head(title, description, url, og_image)



	body.cases.fix-remont#skrollr-body
		.loading
			div
		
		header.page-header(data-0="background-position: center 100%" data-top-bottom="background-position: center 40%")

			a.m18-logo(href="/works/")
				img(src="img/m18.svg", alt="M18 logo")

			.container-cases
				h1.main-title
					span.frame
						span.main-title__text 
							span.caps Fix 
							| Ремонт
					span.frame
						span.main-title__desc Разработка сайта для нового проекта студии Братьев Жилиных

				.promo.cards
					.cards__item
						img(src="img/promo-card-1.png", alt="Карточка выбора интерьера")
					.cards__item
						img(src="img/promo-card-2.png", alt="Карточка выбора интерьера")
					.cards__item
						img(src="img/promo-card-3.png", alt="Карточка выбора интерьера")

		main
			section.intro
				.container-cases

					h2.title.wow.slideInDown
						span.wow.enterDown Ремонт — это легко!
					.flow.wow.slideInDown(data-wow-offset="50")
						p.wow.enterDown(data-wow-offset="50") «<span class="caps">Fix</span> Ремонт»&nbsp;— новый проект студии Братьев Жилиных. Компания ремонтирует квартиры в&nbsp;типовых домах в&nbsp;соответствии с&nbsp;тремя разработанными студией дизайн‐проектами. Мы разработали сайт рассказывающий о&nbsp;проекте с&nbsp;расчётом стоимости ремонта своей квартиры.

					.case.wow(data-wow-offset="100")
						picture.case__img.wow.enterDown(data-wow-offset="100")
							source(media="(min-width: 320px) and (max-width: 767px)" srcset="img/main-page--sm.jpg" alt="Главная страница сайта Fix Remont")
							source(media="(min-width: 767px) and (max-width: 1023px)" srcset="img/main-page--md.jpg" alt="Главная страница сайта Fix Remont")
							source(srcset="img/main-page.jpg" media="(min-width: 1024px)" alt="Главная страница сайта Fix Remont")
							img(src="img/main-page.jpg", alt="Главная страница сайта Fix Remont")

					.design-page(data-center-center="box-shadow: 0 15px 80px -10px rgba(0, 0, 0, .0);" data-center-bottom="box-shadow: 0 15px 80px -10px rgba(0, 0, 0, .3);")
						picture.design-page__img(data-bottom-top="transform: translateY(50%);" data-center-center="transform: translateY(0);")
							source(srcset="img/designs-1.jpg" media="(min-width: 1024px)" alt="Вариант дизайна в скандинавском стиле")
							img(src="img/designs-1.jpg", alt="Вариант дизайна в скандинавском стиле")
						picture.design-page__img(data-bottom-top="transform: translateY(100%);" data-center-center="transform: translateY(0);")
							source(srcset="img/designs-2.jpg" media="(min-width: 1024px)" alt="Вариант дизайна в скандинавском стиле")
							img(src="img/designs-2.jpg", alt="Вариант дизайна в скандинавском стиле")
						picture.design-page__img(data-bottom-top="transform: translateY(200%);" data-center-center="transform: translateY(0);")
							source(srcset="img/designs-3.jpg" media="(min-width: 1024px)" alt="Вариант дизайна в скандинавском стиле")
							img(src="img/designs-3.jpg", alt="Вариант дизайна в скандинавском стиле")

			section.calculator

				.container-cases
					h2.title.wow.slideInDown(data-wow-offset="100")
						span.wow.enterDown(data-wow-offset="100") Калькулятор
					.flow.wow.slideInDown(data-wow-offset="100")
						p.wow.enterDown(data-wow-offset="100") Это гибкий инструмент расчёта стоимости ремонта. Помимо метража и&nbsp;стиля отделки, можно выбирать многочисленные опции: тёплый пол, окна, вентиляцию, двери. Калькулятор мгновенно пересчитывает и выдаёт точную смету, которую можно сохранить, распечатать или отправить себе на почту.  

				.ruler.wow.rulerAppear(data-wow-delay=".5s")

					//- .ruler__inner.wow.rulerAppear(data-wow-delay=".5s")
					//- 	.ruler-gif
					//- 		img(src="img/ruler-30fps.gif", alt="Линейка выбора площади")
					//- 	.ruler-info.wow.fadeInDown
					//- 		img(src="img/calc-info.png", alt="Линейка выбора площади")
								
					.ruler__video
						video(autoplay loop muted poster="img/ruler.jpg")
							source(src="video/ruler2_5_1.mp4" type="video/mp4")
					.ruler-info.wow.fadeInDown
						img(src="img/calc-info.png", alt="Линейка выбора площади")

				//- .container-cases
				//- 	.case
				//- 		.case__video
				//- 			video(autoplay loop muted)
				//- 				source(src="video/calc.webm" type="video/webm")
				//- 				source(src="video/calc.mp4" type="video/mp4")
				
				.calculator__pieces
					figure.calculator__pieces-item
						.frame
							img(src="img/calc-1.jpg", alt="Карточки выбора дизайна")
						figcaption Выбор стиля
						
					figure.calculator__pieces-item
						.frame
							img(src="img/calc-2.jpg", alt="Параметры калькулятора")
						figcaption Настройка
						
					figure.calculator__pieces-item
						.frame
							img(src="img/calc-3.jpg", alt="Итоговая смета")
						figcaption Итоговая смета
						
					figure.calculator__pieces-item
						.frame
							img(src="img/calc-4.jpg", alt="Обзор выбранного")
						figcaption Наглядный обзор выбранного



			section.components

				.container-cases
					h2.title.wow.slideInDown(data-wow-offset="100")
						span.wow.enterDown(data-wow-offset="100") Компонентная структура
					.flow.wow.slideInDown(data-wow-offset="100")
						p.wow.enterDown(data-wow-offset="100") Сайт состоит из&nbsp;взаимозаменяемых компонентов: группы информационных блоков. Это изображения с&nbsp;описанием, слайдеры, текстовые блоки, баннеры или выбор типа отделки. С&nbsp;таким подходом сайт становится простым конструктором: можно быстро создавать новые страницы, добавлять, удалять или менять местами компоненты, не&nbsp;опасаясь за&nbsp;внешний вид и&nbsp;аккуратность результата. Стили заранее настроены и&nbsp;обеспечена совместимость компонентов в&nbsp;любых комбинациях. Работа с&nbsp;сайтом идёт через разработанную для проекта систему администрирования.

					.case.wow(data-wow-offset="100")
						.components-bg(data-bottom-top="background-position: center 100%" data-top-bottom="background-position: center 40%")
						.frame
							.case__video.wow.enterDown(data-wow-offset="100")
								video(autoplay loop muted poster="img/admin.jpg")
									source(src="video/admin.webm" type="video/webm")
									source(src="video/admin.mp4" type="video/mp4")



			section.responsive

				.container-cases
					h2.title.wow.slideInDown(data-wow-offset="100")
						span.wow.enterDown(data-wow-offset="100") Адаптивная версия
					.flow.wow.slideInDown(data-wow-offset="100")
						p.wow.enterDown(data-wow-offset="100") Сайт адаптирован под все существующие размеры дисплеев и&nbsp;типы устройств. Пользователю комфортно использовать сервис как со&nbsp;стационарного компьютера, так с&nbsp;телефона, планшета или ноутбука.

					.responsive__screens(data-bottom-top="left[swing]: 0%" data-top-bottom="left[swing]: -66%")
						.responsive__screens-item
							img(src="img/mobile-1.png" alt="Мобильная версия главной страницы")
						.responsive__screens-item
							img(src="img/mobile-2.png" alt="Мобильная версия страницы дизайн-проектов")
						.responsive__screens-item
							img(src="img/mobile-3.png" alt="Мобильная версия страницы калькулятора")
						.responsive__screens-item
							img(src="img/mobile-4.png" alt="Планшетная версия страницы дизайн-проекта")
						.responsive__screens-item
							img(src="img/mobile-5.png" alt="Мобильная версия меню сайта")
			
			section.credits-outer
				
				.container-cases
					
					a(href="http://fixremont.ru/").btn-sitelink 
						span fixremont.ru
						svg.external-link(width="36" height="36" viewBox="0 0 36 36")
							g(fill="none" fill-rule="evenodd" stroke="#FFF" stroke-width="4" transform="translate(2 2)").
								<polyline points="25 19 25 32 0 32 0 7 12.5 7"/>
								<path class="arrowLine" pathLength="100" stroke-dasharray="100" stroke-dashoffset="0" d="M10,21 L32,0"/>
								<polyline class="arrowEnd" points="19.2 0 32 0 32 12.8"/>
					
					.credits
						h2.title-sm Над проектом работали
						
						ul.credits__desk-list
							li.credits__desk
								dl.credits__employee-list
									dt.credits__employee Денис Шумов
									dd.credits__role Арт-директор
									
									dt.credits__employee Александр Ратасеп
									dd.credits__role Проектирование и&nbsp;дизайн
									
									dt.credits__employee Сергей Дюжев
									dd.credits__role Дизайн калькулятора
									
									//- dt.credits__employee Михаил Кучин
									//- dd.credits__role Руководитель проекта

							li.credits__desk
								dl.credits__employee-list
									dt.credits__employee Андрей Волынкин
									dd.credits__role Ведущий разработчик
									
									dt.credits__employee Ася Скульская
									dd.credits__role Вёрстка и&nbsp;разработка
									
									dt.credits__employee Алексей Вахрушев
									dd.credits__role Разработка калькулятора

							li.credits__desk
								dl.credits__employee-list
									dt.credits__employee Михаил Кучин
									dd.credits__role Руководитель проекта





		include components/footer.pug



		script(src="js/main.js")
		script.
			

			function preloader() {
				var bodyElem = document.getElementById('skrollr-body');
				
				setTimeout(function(){
					bodyElem.classList.add('loaded');
				} , 1000);
			};
			
			if (Modernizr.touchevents) {				
				preloader();
				console.log('touch');
			} else {
				window.onload = function() {					
					preloader();
					var s = skrollr.init({
						skrollrBody:'skrollr-body',
						forceHeight: false
					});
				}
			}

			var wow = new WOW();
			
			wow.init();
			
		//- include components/analitics.pug
