doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible" content="ie=edge")
	title Fix Remont
	link(rel="stylesheet", href="css/main.css")


body.fix-remont
	header.page-header

		a.m18-logo(href="/works/")
			img(src="img/m18.svg", alt="M18 logo")

		.container
			h1.main-title
				span.frame
					span Fix Remont
				span.frame
					span.main-title__desc Разработка сайта для проекта студии братьев Жилиных

			.promo.cards
				.cards__item
					img(src="img/promo-card-1.jpg", alt="Карточка выбора интерьера")
				.cards__item
					img(src="img/promo-card-2.jpg", alt="Карточка выбора интерьера")
				.cards__item
					img(src="img/promo-card-3.jpg", alt="Карточка выбора интерьера")

	main
		section.intro
			.container

				h2.title Ремонт — это легко!
				p ««Fix Ремонт» качественно и&nbsp;эффективно решает комплекс задач, связанных с&nbsp;ремонтом квартиры. Перед нами стояла задача спроектировать сервис, отличающий его среди конкурирующих студий выполняющих «ремонт под ключ».»

				//- picture
				//-	 source(srcset="img/main-page--sm.jpg" media="(max-width: 767px;)" alt="Главная страница сайта Fix Remont")
				//-	 source(srcset="img/main-page--md.jpg" media="(max-width: 1023px;)" alt="Главная страница сайта Fix Remont")
				//-	 source(srcset="img/main-page.jpg" media="(min-width: 1024px;)" alt="Главная страница сайта Fix Remont")
				//-   img(src="img/main-page.jpg", alt="Главная страница сайта Fix Remont")
